
/Drikka/_ReSharper.Drikka
/Drikka/Contracts/Drikka.Geo.Data.Contracts/obj
/Drikka/Contracts/Drikka.Geo.Data.Contracts/bin
/Drikka/Contracts/Drikka.Geo.Geometry.Contracts/obj
/Drikka/Contracts/Drikka.Geo.Geometry.Contracts/bin
/Drikka/Drikka.Geo.Data.Mapping/obj
/Drikka/Drikka.Geo.Data.Mapping/bin
/Drikka/Drikka.Geo.Data.Postgre/obj
/Drikka/Drikka.Geo.Data.Postgre/bin
/Drikka/Drikka.Geo.Geometry/obj
/Drikka/Drikka.Geo.Geometry/bin
/Drikka/Tests/Drikka.Geo.Data.Mapping.Tests.Unit/obj
/Drikka/Tests/Drikka.Geo.Data.Mapping.Tests.Unit/bin
/Drikka/Drikka.5.1.ReSharper.user
/Drikka/Drikka.suo
/Drikka/Contracts/Drikka.Geo.Common.Contracts/bin
/Drikka/Contracts/Drikka.Geo.Common.Contracts/obj
/Drikka/Diagrams/Diagrams/bin
/Drikka/Diagrams/Diagrams/obj
/Drikka/Drikka.Common/bin
/Drikka/Drikka.Common/obj
/Drikka/Drikka.Geo.Data/bin
/Drikka/Drikka.Geo.Data/obj
/Drikka/Drikka.Geo.Data.Query/bin
/Drikka/Drikka.Geo.Data.Query/obj
/Drikka/Drikka.Geo.Data.Tests/bin
/Drikka/Drikka.Geo.Data.Tests/obj
/Drikka/Tests/Drikka.Geo.Tests.Common/bin
/Drikka/Tests/Drikka.Geo.Tests.Common/obj
/Drikka/Drikka.5.0.ReSharper.user
/Drikka/Drikka.sln.docstates.suo
/Drikka/Drikka.sln.docstates