
/Drikka/_ReSharper.Drikka
/Drikka/Contracts/Drikka.Geo.Data.Contracts/obj
/Drikka/Contracts/Drikka.Geo.Data.Contracts/bin
/Drikka/Contracts/Drikka.Geo.Geometry.Contracts/obj
/Drikka/Contracts/Drikka.Geo.Geometry.Contracts/bin
/Drikka/Drikka.Geo.Data.Mapping/obj
/Drikka/Drikka.Geo.Data.Mapping/bin
/Drikka/Drikka.Geo.Data.Postgre/obj
/Drikka/Drikka.Geo.Data.Postgre/bin
/Drikka/Drikka.Geo.Geometry/obj
/Drikka/Drikka.Geo.Geometry/bin
/Drikka/Tests/Drikka.Geo.Data.Mapping.Tests.Unit/obj
/Drikka/Tests/Drikka.Geo.Data.Mapping.Tests.Unit/bin
/Drikka/Drikka.5.1.ReSharper.user
/Drikka/Drikka.suo